.kojima{
    height: 20vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}
.less-important{
    display: flex;
    justify-content: center;
    align-items: center;
}