.header{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bolder;  
    height: 246px;
    width: 100%;
    text-align: center;
    background-image: url('../imgs/initial_bdg_transparent.gif');
    background-size: cover;
}

.gamer{
    padding: 50px;
}

.footer{
    text-align: center;
    size: 10px;
}
