.header{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bolder;  
    height: 246px;
    width: 100%;
    text-align: center;
    background-image: url('../imgs/bdg_animation3.gif');
    background-size: cover;
    background-color: black;
}

.gamer{
    padding: 50px;
}

.footer{
    text-align: center;
    size: 10px;
}
